---
import '../styles/global.css';

/*
  你好，我是青稞
一介匹夫，一名学生，一个默默无闻的新手开发者

一个理想主义者，一名音乐爱好者

立于人世十八载，未曾有过壮举

喜欢幻想，热衷实干，厌恶形式

幻想能有一间盛满了所有喜欢的乐器的小屋

幻想能与喜欢的人遍历世间美好

过往十八载生活苦难不尽人意

或许将来

会在荒芜又富有的，万人厕身其间的开发区，做一名小小的无名之辈
  
*/

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎来到Qingke的小窝</title>
</head>

<body class="bg-white">
  
  <aside class="fixed left-[150px] top-[35px] min-w-full md:min-w-0 xl:basis-1/3 xl:h-screen "> 
    <div class="mb-8 flex justify-start ">
      <a href="/" 
         class="px-6 py-2 bg-gray-500 text-white rounded-xl 
                shadow-md hover:bg-gray-600 transition-colors
                text-lg font-semibold hover:shadow-lg
                transform hover:scale-105 duration-300 text-black">
        首页
      </a>
    </div>
    <div>
      <div class="w-64 flex flex-col items-center">
        <img class="w-32 h-32 md:w-52 md:h-52 rounded-full mx-auto" src="../My_pic.jpg" alt="Qingke"> 
        <div class="pt-10"></div>
        <h1 class="text-4xl font-bold text-center text-gray-800">Qingke</h1>
        <div class="pt-2 xl:pt-5"></div>
        <p class="text-lg text-center text-gray-800">我们在地板上睡过</p> 
        <p class="text-lg text-center text-gray-800">我们在河水中淌过</p> 
        <!--生成四个方块，边长20px，间距10px，横向排列-->
        <div class="pt-5"></div>
        <div class="flex space-x-2">
          <a href="https://github.com/qingketsing" class="w-14 h-14 rounded-lg">
            <img src="../github-box.png" alt="">
          </a>
          <a href="https://space.bilibili.com/548020217" class="w-14 h-14 rounded-lg">
            <img src="../哔哩哔哩.png" alt="">
          </a>
          <a href="https://www.zhihu.com/people/qing-ke-tsing" class="w-14 h-14 rounded-lg">
            <img src="../知乎.png" alt="">
          </a>
          <a href="https://music.163.com/#/user/home?id=12216179252" class="w-14 h-14 rounded-lg">
            <img src="../网易云音乐.png" alt="">
          </a>
      </div>
    </div>
  </aside>
  <div class="pt-10 xl:pt-16"></div>
    <div class=" col-span-4 bg-gray-200 ml-[500px] mr-[100px] rounded-lg shadow-lg p-5 hover:bg-primary-focus hover:shadow-gray-500">
    <!-- 文字居中输出 -->
      <h1 class="text-4xl font-bold text-center text-gray-800">你好，我是青稞</h1>
      <p class="text-lg text-center text-gray-800 pt-4">一名学生，一个默默无闻的新手开发者</p>
      <p class="text-lg text-center text-gray-800 pt-4">一个理想主义者，一名音乐爱好者</p>
      <p class="text-lg text-center text-gray-800 pt-4">立于人世十九载，未曾有过壮举</p>
      <p class="text-lg text-center text-gray-800 pt-4">喜欢幻想，热衷实干，厌恶形式</p>
      <p class="text-lg text-center text-gray-800 pt-4">幻想能有一间盛满了所有喜欢的乐器的小屋</p>
      <p class="text-lg text-center text-gray-800 pt-4">幻想能与喜欢的人遍历世间美好</p>
      <p class="text-lg text-center text-gray-800 pt-4">或许现在他还是一个无名之辈</p>
      <p class="text-lg text-center text-gray-800 pt-4">不过他还有梦想和热情</p>
      <p class="text-lg text-center text-gray-800 pt-4">现在，他很幸福。</p>
      <div class="pt-20"></div>
      
    </div>
    
  </div>
    
</body>
</html>
