---
import MusicPlayer from "../components/MusicPlayer.astro";
---
<html lang="en">
<head>
  <!-- 确保加载必要资源 -->
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎来到Qingke的小窝</title>
  <link rel="stylesheet" href="../output.css"/>
</head>
<body>

  <MusicPlayer 
    audioSrc="../8_31.mp3"
    coverSrc="../yorushika.jpg"
    title="8/31"
    artist="Yorushika"
  />

  <!-- 其他页面内容... -->
</body>
</html>
